@media (prefers-color-scheme:dark){
    body{
        background-color: black;
        color:white;
    }
    #hero h1{
        color:#000;
    }

    .about .content .count-box span{
        color:#f2f9ff;
    }
    .about .content .count-box p{
        color:#d8edff;
    }
    .section-title span{
        color:#111111;
    }   
    .section-title h2{
        color:#dfdfdf;
    }  
     .resume .container .row .col-lg-6 h3{
        color:#868686
     }
     .resume .resume-item h5{
        color:#dfdfdf;
        background: #202020;
     }
     
     .services .icon-box{
        background-color: #070707;
        border-color: #070707;
        box-shadow: 0 10px 29px 0 rgb(101 101 101 / 10%);
     }
     .services .title a{
        color:#9e9e9e;
     }
     .card{
        background-color: var(--bs-card-bg-dark);
        border-color:#202020;
     }
     .card-body{
        color:#dfdfdf;
     }
     .contact .info-box{
        box-shadow: 0 0 30px rgb(16 16 16 / 60%);
     }
     .contact .php-email-form{
        box-shadow: 0 0 30px rgb(16 16 16 / 60%);
     }
     .form-control{
        background-color: #0e0e0e;
        border:1px solid #040505;
        color:#dfdfdf;
    }
    .form-control:focus{
         color:#dfdfdf;
        background-color: #0e0e0e;
        border:1px solid #040505;
     }
     input:-webkit-autofill,
     input:-webkit-autofill:focus {
       transition: background-color 600000s 0s, color 600000s 0s;
     }
     .contact .php-email-form button[type=submit] {
        color:#000;
     }
}